<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link asp-href-include="lib/bootstrap/dist/css/*.min.css" rel="stylesheet" />
</head>
<body class="panel-body">
    @RenderSection("Header")
    <div class="bg-info">
        This is part of the layout
    </div>
    @RenderBody()
    <div class="bg-info">
        This is part of the layout
    </div>
    @RenderSection("Footer")
    <div class="bg-info">
        This is part of the layout
    </div>
</body>
</html>