@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Razor</title>
    <link asp-href-include="lib/bootstrap/dist/css/*.min.css" rel="stylesheet" />
    <script id="jsonData" type="application/json">
</head>
<body class="panel-body">
    This is the List View
    @Html.Partial("MyStronglyTypedPartial",
        new string[] { "Apple", "Orange", "Pear" })
</body>
</html>
</html>